{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="width: 100%; height: 100%; position: relative; background: #FFFEF6">
    <div style="width: 500px; left: 140px; top: 304px; position: absolute"><span style="color: #575D5D; font-size: 50px; font-family: Klukva; font-weight: 500; line-height: 50.25px; word-wrap: break-word">Дрессировка с любовью <br/></span><span style="color: #575D5D; font-size: 50px; font-family: Klukva; font-weight: 500; line-height: 50.25px; word-wrap: break-word">и профессионализмом!</span></div>
    <div style="left: 607px; top: 1097px; position: absolute; color: #575D5D; font-size: 50px; font-family: Klukva; font-weight: 500; word-wrap: break-word">Чем поможем</div>
    <div style="width: 500px; left: 140px; top: 446px; position: absolute; color: #575D5D; font-size: 24px; font-family: Source Sans Pro; font-weight: 400; line-height: 33.82px; word-wrap: break-word">Добро пожаловать на сайт, посвященный дрессировке собак! <br/>Независимо от возраста или породы собаки, мы поможем развить ее навыки и создать гармоничную связь между вами и вашим четвероногим другом. <br/>Давайте вместе достигнем прекрасных результатов в обучении собак!</div>

    <div style="width: 460px; left: 767px; top: 1851px; position: absolute; color: #575D5D; font-size: 18px; font-family: Montserrat; font-weight: 400; line-height: 25.36px; word-wrap: break-word">Мы находимся по адресу: Беговая улица, 3, Санкт-Петербург </div>
    <div style="width: 460px; left: 767px; top: 1935px; position: absolute; color: #575D5D; font-size: 18px; font-family: Montserrat; font-weight: 400; line-height: 25.36px; word-wrap: break-word">Обращайтесь с любыми вопросами или проблемами в обучении вашего питомца:</div>
    <div style="width: 660px; left: 140px; top: 1232px; position: absolute; color: #575D5D; font-size: 18px; font-family: Montserrat; font-weight: 400; line-height: 25.36px; word-wrap: break-word">Научим понимать любимого питомца. Мотивы поведения собаки, когда и как начинать воспитывать<p/>Поделимся гуманными и эффективными методам воспитания вашего питомца <p/>Сформируем дружелюбную реакцию на других собак. Можно будет гулять в больших компаниях собак и играть вместе <p/>Поможем держать в тонусе вашего питомца. Поддержим не только ментальное, но и физическое здоровье<p/>Обучим собаку личному расписанию, чтобы понимать когда она пойдёт на прогулку и избежать переживаний из-за этого<p/>Сохраним ваши вещи и мебель. Собака грызёт не потому, что хочет повредить мебель, а по естественным потребностям</div>

    <div style="width: 459px; height: 322px; left: 140px; top: 1757px; position: absolute">

        <img style="width: 459px; height: 322px; left: 0px; top: 0px; position: absolute" src="{% static '/image/map.png' %}">

    </div>


    <img style="width: 620px; height: 527px; left: 720px; top: 255px; position: absolute" src="{% static '/image/d1.png' %}">
    <img style="width: 462px; height: 428px; left: 858px; top: 1218px; position: absolute" src="{% static '/image/d2.png' %}">
</div>

{% endblock %}